.row {
  display: grid;
  grid-template-columns: 4.7fr 1fr 1fr;
  align-items: center;
  justify-items: flex-end;
  gap: 10px;

  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);

  @media (max-width: 850px) {
    width: 850px;
    padding: 20px 20px 20px 0;
  }

  &:last-child {
    border: none;
  }

  .textContainer {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;

    &:nth-child(1) {
      justify-self: start;
    }

    p {
      word-break: break-all;
    }

    button {
      margin-top: 0;
    }
  }
}
